h1 {
  color: lightgreen;
  text-align: center;
}

h3 {
  color: blue;
}

p {
  color: red;
}

html {
  border-width: thick;
  border-color: black;
  border-style: solid;
  margin: 15px;
  border-radius: 15px;
}

div {
  background-color: gray;
}

.blurb {
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background-color: lightgray;
}
