html{
    background: url(https://static.wikia.nocookie.net/mugen/images/d/d2/ATHFHouse.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
  width: 100%;
  height: 100%;
}

.mainbody {
  width: 350px;
  height: 250px;
  border-radius: 50% 50% 40% 40%;
  background-color: #b04027;
  position: relative;
  top: 300px;
  left: 100px;
  border: 2.5px solid black;
}

.righteye {
  width: 20px;
  height: 30px;
  background-color: white;
  border-radius: 100px 50px;
  top: 200px;
  left: 360px;
  position: relative;
}

#rightpupil {
  width: 8px;
  height: 15px;
  background-color: black;
  border-radius: 100px 50px;
  top: 174px;
  left: 360px;
  position: relative;
}

.lefteye {
  width: 20px;
  height: 30px;
  background-color: white;
  border-radius: 100px 50px;
  top: 150px;
  left: 320px;
  position: relative;
}

#leftpupil {
  width: 8px;
  height: 15px;
  background-color: black;
  border-radius: 100px 50px;
  top: 122px;
  left: 320px;
  position: relative;
}

.mouth {
  width: 40px;
  height: 60px;
  border: 2.5px solid black;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(210deg);
  top: 100px;
  left: 285px;
  position: relative;
}

.tooth{
    width: 5px;
    height: 10px;
    background-color: white;
    top: 63px;
    left: 276px;
    position: relative;
    border: 2px solid black;
  }

/* border-radius: 10px 10px 140px 100%/80px; */
/* .mouth 
  width: 70px;
  height: 30px;
  border: 4px solid black;
  border-color: transparent transparent black transparent;
  border-radius: 90%;
  position: relative;
  bottom: 20px;
  left: 620px;
  transform: rotate(70deg);


  https://static.wikia.nocookie.net/mugen/images/d/d2/ATHFHouse.png
 * /
