html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background: linear-gradient(
    133deg,
    rgba(128, 124, 117) 0%,
    rgba(236, 105, 165, 1) 50%,
    rgba(89, 232, 247, 1) 100%
  );
}

body {
  width: 80vw;
  min-width: 800px;
  margin: 0 auto;
  height: 100vh;
}

h1,
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #2a2a2a;
}

p,
li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #2a2a2a;
}
